<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

<appSettings>
  <add key="hostname" value="10.1.1.122"/>
  <add key="port" value="502"/>
  <add key="serialPort" value="COM4"/> <!-- numer portu ustawiony w komputerze do komunikacji -->
  <add key ="baudRate" value="9600"/>
  <add key="dataBits" value="8"/>
  <add key="parity" value="None"/>
  <add key="stopBits" value="Two"/>
  
  
  <add key="N30U_Temp" value="3"/>
  <add key="N30H_VoltDC" value="5"/>
  <add key="SM4" value="2"/>
  <add key="S4AO" value="6"/>
  <add key="N10" value="7"/>
</appSettings>

</configuration>
